apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: iphone-export-postgres-pvc
  namespace: iphone-export
  labels:
    app: iphone-export
    component: postgres
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path





